var dateFormatter = function (date) {
  var result = getDate(date);
  var m = result.getMonth();
  var d = result.getDay()
  return result.getFullYear() + '/' + m + '/' + d;
}

var status = {
  '10': "新建",
  '20': "已确认",
  '25': "部分提货",
  '30': "已提货",
  '35': "部分到货",
  '40': "已到货",
  '45': '部分签收',
  '50': '已签收',
  '60': '已签收',
  '70': '已结算'
};

function getStatusDisplay(code) {
  var statusName = status[code + '']
  if (statusName) {
    return statusName;
  }
  return '';
}

//提货 到货 回单
var funcNames = {
  '20': '提货',
  '30': '到货',
  '40': '签收',
}
function funcName(statusCode) {
  var functionName = funcNames[statusCode + '']
  if (functionName) {
    return functionName;
  }
  return '';
}

module.exports = {
  dateFormatter: dateFormatter,
  getStatusDisplay: getStatusDisplay,
  funcName: funcName,
}