var status = {
  '10': "新建",
  '20': "已确认",
  '25': "部分提货",
  '30': "已提货",
  '35': "部分到货",
  '40': "已到货",
  '45': '部分签收',
  '50': '已签收',
  '60': '已签收',
  '70': '已结算'
};

function getStatusDisplay(code) {
  var statusName = status[code + '']
  if (statusName) {
    return statusName;
  }
  return '';
}

module.exports = {
  getStatusDisplay: getStatusDisplay,
}